<section class="section-account" style="margin-top: 10%;">
    <div class="card contain-sm style-transparent">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <br>

                    <span class="text-lg text-bold text-primary">SIMPLE BLOG ADMIN</span>
                    <br><br>

                    <form ng-init="isSignIn=false" class="form floating-label" accept-charset="utf-8" name="LoginForm" novalidate>
                        <div class="form-group">
                            <input type="email" id="email" class="form-control" name="email" ng-model-options="{ updateOn: 'blur' }"
                                   ng-model="user.email" required>
                            <label for="email">Your email</label>
                            <span class="help-block" ng-show="LoginForm.email.$error.email && !LoginForm.email.$pristine">
							    Email field is incorrect!
						    </span>
                            <span class="help-block" ng-show="LoginForm.email.$error.required && !LoginForm.email.$pristine">
							    This field is required!
						    </span>
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" ng-model="user.password" required class="form-control" name="password">
                            <label for="password">Your password</label>
                            <span class="help-block" ng-show="LoginForm.password.$invalid && !LoginForm.password.$pristine">
                                This field is required!
                            </span>
                            <p class="help-block"><a ui-sref="reset">Forgotten?</a></p>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <div class="checkbox checkbox-inline checkbox-styled">
                                    <label ng-show="!isSignIn">
                                        <input type="checkbox"> <span>Remember me</span>
                                    </label>
                                </div>
                            </div><!--end .col -->
                            <div class="col-xs-6 text-right">
                                <button ng-show="!isSignIn" class="btn btn-primary btn-raised" type="button" ng-click="logIn(LoginForm)">Login</button>
                                <button ng-show="isSignIn" class="btn btn-primary btn-raised" type="button" ng-click="signIn(LoginForm)">SIGN UP</button>
                            </div><!--end .col -->
                            <div style="text-align: center;" class="text-danger" ng-show="error">{{error | uppercase}}</div>
                        </div><!--end .row -->
                    </form>
                </div><!--end .col -->
                <div class="col-sm-5 col-sm-offset-1 text-center">
                    <br><br>
                    <h3 ng-show="!isSignIn" class="text-light">
                        No account yet?
                    </h3>
                    <h3 ng-show="isSignIn" class="text-light">
                        Already have account?
                    </h3>
                    <a ng-show="!isSignIn" ng-click="isSignIn=true" class="btn btn-block btn-raised btn-primary" href="#">Sign up here</a>
                    <a ng-show="isSignIn" ng-click="isSignIn=false" class="btn btn-block btn-raised btn-primary" href="#">Login here</a>
                    <br><br>
                    <h3 class="text-light">
                        or
                    </h3>
                    <p>
                        <a href="#" class="btn btn-block btn-raised btn-info"><i class="fa fa-facebook pull-left"></i>Login with Facebook</a>
                    </p>
                    <p>
                        <a href="#" class="btn btn-block btn-raised btn-info"><i class="fa fa-twitter pull-left"></i>Login with Twitter</a>
                    </p>
                </div><!--end .col -->
            </div><!--end .row -->
        </div><!--end .card-body -->
    </div><!--end .card -->
</section>