

.form .form-group,
.form-inline .form-group {
  padding-top: 16px;
}
.form-group {
  position: relative;
  margin-bottom: 19px;
}
.form-group .form-control:not(.static) ~ label,
.form-group .form-control:not(.static) ~ .form-control-line {
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
.form-group .form-control ~ label,
.form-group .form-control ~ .form-control-line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}
.form-group .form-control ~ label:after,
.form-group .form-control ~ .form-control-line:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  height: 2px;
  width: 10px;
  visibility: hidden;
  background-color: #0aa89e;
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
.form-group .form-control ~ label {
  top: 0;
  margin-bottom: 0;
  font-size: 12px;
  opacity: 0.5;
}
.form-group .form-control:focus {
  border-color: rgba(12, 12, 12, 0.12);
}
.form-group .form-control:focus ~ label {
  color: #0aa89e;
  opacity: 1;
}
.form-group .form-control:focus ~ label:after,
.form-group .form-control:focus ~ .form-control-line:after {
  visibility: visible;
  width: 100%;
  left: 0;
}
.floating-label .form-control ~ label {
  top: 19px;
  font-size: 16px;
}
.floating-label .form-control:focus ~ label,
.floating-label .form-control.dirty ~ label {
  top: 0px;
  font-size: 12px !important;
}

.checkbox-styled:not(ie8),
.radio-styled:not(ie8) {
  position: relative;
  margin-top: 0;
}
.checkbox-styled:not(ie8) input ~ span,
.radio-styled:not(ie8) input ~ span {
  position: relative;
  padding-left: 30px;
  display: inline-block;
  cursor: pointer;
  vertical-align: text-top;
}
.checkbox-styled:not(ie8) input ~ span:before,
.radio-styled:not(ie8) input ~ span:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: 2px solid #535858;
}
.checkbox-styled:not(ie8) input[type="radio"],
.radio-styled:not(ie8) input[type="radio"],
.checkbox-styled:not(ie8) input[type="checkbox"],
.radio-styled:not(ie8) input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox-styled:not(ie8) label,
.radio-styled:not(ie8) label {
  padding-left: 0;
}
.checkbox-styled:not(ie8).radio-inline,
.radio-styled:not(ie8).radio-inline,
.checkbox-styled:not(ie8).checkbox-inline,
.radio-styled:not(ie8).checkbox-inline {
  padding-left: 0;
}
.checkbox-styled:not(ie8).disabled ~ span:before,
.radio-styled:not(ie8).disabled ~ span:before,
.checkbox-styled:not(ie8) input[disabled] ~ span:before,
.radio-styled:not(ie8) input[disabled] ~ span:before,
.checkbox-styled:not(ie8) input[readonly] ~ span:before,
.radio-styled:not(ie8) input[readonly] ~ span:before {
  border-color: #e5e6e6;
}
.checkbox-styled:not(ie8).disabled:checked ~ span:before,
.radio-styled:not(ie8).disabled:checked ~ span:before,
.checkbox-styled:not(ie8) input[disabled]:checked ~ span:before,
.radio-styled:not(ie8) input[disabled]:checked ~ span:before,
.checkbox-styled:not(ie8) input[readonly]:checked ~ span:before,
.radio-styled:not(ie8) input[readonly]:checked ~ span:before {
  border-color: #e5e6e6;
}
.checkbox-styled:not(ie8).disabled:checked ~ span:after,
.radio-styled:not(ie8).disabled:checked ~ span:after,
.checkbox-styled:not(ie8) input[disabled]:checked ~ span:after,
.radio-styled:not(ie8) input[disabled]:checked ~ span:after,
.checkbox-styled:not(ie8) input[readonly]:checked ~ span:after,
.radio-styled:not(ie8) input[readonly]:checked ~ span:after {
  background-color: #e5e6e6;
}
.checkbox-styled:not(ie8) input ~ span:before {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.checkbox-styled:not(ie8) input:checked ~ span:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 10px;
  border-color: #0aa89e;
  border-top-style: none;
  border-right-style: none;
}


.help-block {
  position: absolute;
  right: 0;
  bottom: -20px;
  margin: 0;
  color: inherit;
  opacity: .7;
  font-size: 12px;
}
.form-horizontal .help-block {
  bottom: -20px;
  right: 10px;
}
span.help-block {
  right: auto;
}