<!doctype html>
<html>
<head>
    <base href="/admin/">
    <meta charset="utf-8">
    <title>Just a simple blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/app/vendor/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/app/vendor/bower_components/bootstrap-material-design/dist/css/material-fullpalette.css" />
    <link rel="stylesheet" href="/app/vendor/bower_components/bootstrap-material-design/dist/css/roboto.css" />
    <link rel="stylesheet" href="/app/vendor/bower_components/bootstrap-material-design/dist/css/ripples.css" />
    <script>

        var appConfig = window.appConfig = {{{json appConfig}}};

    </script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!--<link rel="stylesheet" href="styles/main.css">-->
    <!-- endbuild -->
</head>
<body ng-app="app.control">
    <div ng-show="isLogged">
        {{> header}}

        <div class="container">
            {{{body}}}
        </div>

        <div class="footer">
            <div class="container">
                <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
            </div>
        </div>
    </div>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="/app/vendor/bower_components/jquery/dist/jquery.js"></script>

<script src="/app/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/app/vendor/bower_components/bootstrap-material-design/dist/js/material.js"></script>
<script src="/app/vendor/bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
<script>
    $(document).ready(function() {
        // This command is used to initialize some elements and make them work properly
        $.material.init();
    });
</script>

<script src="/app/vendor/bower_components/angular/angular.js"></script>
<script src="/app/vendor/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="/app/vendor/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/app/vendor/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="/app/vendor/bower_components/ng-file-upload/angular-file-upload.js"></script>

<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="/app/app.common.js"></script>
    <script src="/app/config.js"></script>
    <script src="/app/shared/providers/initialize.js"></script>

    <script src="/app/app.control.js"></script>
    <script src="/app/app.control.config.js"></script>

<!-- endbuild -->
</body>
</html>

